.text {
    font-family: $open-sans;
    color: $text-color;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 0.8px;

    &__link {
        color: $alternative-font-color;
        line-height: 1.75;
        letter-spacing: normal;
        text-decoration-line: none;

        &:hover {
            color: darken($alternative-font-color, 17);
        }
    }

    &_medium {
        font-size: 16px;
    }

    &_big {
        font-size: 20px;
    }

    &_white {
        color: $alternative-font-color;
    }

    &_center {
        text-align: center;
    }
}