.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 95px;

    &__logo {
        margin-top: -1px;
    }

    &__link {
        margin-left: 1.57em;
    }

    &__link:first-of-type {
        margin-left: 1.1em;
    }
}