@import "./variables.scss";
@import "./fonts.scss";

body {
    // width: 1365px;

    button {
        font-family: $openSans;
        font-size: 16px;
        height: 33px;
        border-radius: 16.5px;
        border: solid 1px $mainFontColor;
        background-color: #333b4600;
        color: $mainFontColor;
        padding: 0 1.23em;
        transition: .5s;

        &:hover {
            color: #333b46;
            background-color: $mainFontColor;
            cursor: pointer;
        }

        &:active {
            transition: .1s;
            border-color: darken($mainFontColor, 25);
            background-color: darken($mainFontColor, 15);
        }
    }

    .row-1 {
        height: 700px;
        background-image: url("../../out/images/Layer\ 2.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        padding-top: 10px;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 6.13em;

            .logo {
                font-size: 24px;
                font-family: $bigJohns;
                font-weight: bold;
                letter-spacing: .015em;
                text-transform: uppercase;
                text-decoration-line: none;
                color: $mainFontColor;
                transition-duration: .3s;

                &:hover {
                    color: darken($mainFontColor, 8);
                }
            }

            nav {

                a {
                    margin-left: 1.57em;
                    font-family: $openSans;
                    font-size: 16px;
                    text-decoration-line: none;
                    color: $mainFontColor;

                    &:first-of-type {
                        margin-left: 1.1em;
                    }

                    &:hover {
                        color: darken($mainFontColor, 17);
                    }
                }
            }
        }

        section {
            text-align: center;

            h1 {
                font-family: $sourceSansPro;
                text-transform: uppercase;
                font-weight: 100;
                font-size: 35px;
                letter-spacing: .205em;
                color: $mainFontColor;
                margin: 213px 0 0 9px;
            }

            p {
                font-family: $openSans;
                font-size: 16px;
                font-weight: 100;
                letter-spacing: .067em;
                line-height: 1.75;
                color: $mainFontColor;
                margin: 1.75em 25% 0 25.1%;
            }
        }

        .row-1__proceed-button {
            position: relative;
            margin-top: 13.5em;
            left: 48.7%;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: $mainBackgroundColor;
            transition: .3s;

            &:hover {
                cursor: pointer;
                background-color: lighten($mainBackgroundColor, 4);
                height: 50px;
                border-radius: 47%;

                div {
                    border-left: 2px solid $mainFontColor;
                    border-bottom: 2px solid $mainFontColor;
                }
            }

            div {
                position: absolute;
                top: 30%;
                left: 38.5%;
                width: 7px;
                height: 7px;
                border-left: 1.4px solid $mainFontColor;
                border-bottom: 1.4px solid $mainFontColor;
                transform: rotate(-45deg);
            }
        }
    }

    .row-2 {
        height: (30.5em - 5.6em);
        display: flex;
        padding-top: 5.6em;

        div {
            flex-basis: 35%;
            margin-left: 16.5em;

            h2 {
                font-family: $sourceSansPro;
                text-transform: uppercase;
                font-weight: normal;
                font-size: 22px;
                letter-spacing: .14em;
                margin-left: 2.5px;
            }

            p {
                color: #81868e;
                font-family: $openSans;
                font-size: .95em;
                letter-spacing: .01em;
                line-height: 1.68em;
                margin-top: 2.45em;
            }

            button {
                width: 8.75em;
                height: 2.3em;
                border-radius: 20px;
                border-color: $secondFontColor;
                color: $secondFontColor;
                margin: .85em 0 0 2px;

                &:hover {
                    background-color: $secondFontColor;
                    color: $mainFontColor;
                }
            }
        }

        img {
            width: 215px;
            height: 350px;
            margin: -0.6em 0 0 9.7em;
        }
    }

    .row-3 {
        text-align: center;
        background-color: $secondBackgroundColor;
        height: 618px;

        h2 {
            color: #333b46;
            font-family: $sourceSansPro;
            font-weight: 400;
            font-size: 1.39em;
            text-transform: uppercase;
            letter-spacing: .125em;
            padding-top: 3.31em;
            margin-top: 0;
        }

        p {
            color: #81868e;
            font-family: $openSans;
            font-size: .9em;
            line-height: 1.79;
            letter-spacing: .035em;
            margin: 2.05em 32% 2em 31.5%;
        }

        .img-flex-container {
            display: flex;
            justify-content: center;
            margin-top: 3.5em;

            div {
                background-color: #81868e;
                border-radius: 50%;
                width: 53px;
                height: 53px;
                transition: .3s;

                &:hover {
                    background-color: #19bd9a;
                }
            }

            div:nth-of-type(2) {
                margin: 0 1.7em 0 1.7em;
            }

            .img-flex-container__first-image {
                padding-top: 30%;
            }

            .img-flex-container__second-image {
                padding-top: 20%;
            }

            .img-flex-container__third-image {
                padding-top: 20%;
            }
        }

        .creative-ideas {
            padding: 0 13% 0 12.3%;
            text-align: left;

            .creative-ideas__caption {
                color: #464646;
                font-family: $openSans;
                font-size: 1.25em;
                font-weight: normal;
                letter-spacing: 0.8px;
                margin-top: 2.85em;
                margin-bottom: 1.4em;
            }

            .creative-ideas__accent-green {
                color: #19bd9a;
            }

            div {
                display: flex;

                .creative-ideas__first-idea {
                    font-size: 1.025em;
                    line-height: 1.74em;
                    margin: 0 0 0 .1em;
                    width: 325px;
                    vertical-align: top;
                    margin-right: 7.6em;
                }

                .creative-ideas__second-idea {
                    display: inline-block;
                    width: 515px;
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    margin: 0;
                }
            }
        }
    }

    .row-4 {
        text-align: center;
        height: 667px;

        h2 {
            color: #333b46;
            font-family: $sourceSansPro;
            font-weight: 400;
            font-size: 1.39em;
            text-transform: uppercase;
            letter-spacing: .13em;
            padding-top: 3.31em;
            margin-top: 0;
        }

        p {
            color: #81868e;
            font-family: $openSans;
            font-size: .9em;
            line-height: 1.79;
            letter-spacing: .035em;
            margin: 2.05em 32% 3.95em 31.5%;
        }

        .featured-projects__gallery {
            display: flex;
            flex-wrap: wrap;

            img:nth-of-type(3) {
                margin-left: -6px;
            }
        }

        .row-4__footer {
            display: flex;
            width: 100%;
            height: 113px;
            background-image: url("../images/Featured_footer.png");
            align-items: center;
            padding: 0 170px 0 164px;

            span {
                font-family: $openSans;
                font-size: 20px;
                letter-spacing: 0.8px;
                color: #ffffff;
                margin-right: 7.5em;
            }
        }
    }
}