@import "./variables.scss";
@import "./fonts.scss";

//Common blocks
@import "./common_blocks/button";
@import "./common_blocks/link";
@import "./common_blocks/caption";
@import "./common_blocks/subcaption";
@import "./common_blocks/text";

//Main blocks
@import "./blocks/row-1/row-1";
@import "./blocks/row-2/row-2";
@import "./blocks/row-3/row-3";

// Стили ниже не тронуты
body {
    // width: 1365px;

    .row-4 {
        text-align: center;
        height: 667px;

        h2 {
            color: $caption-color;
            font-family: $source-sans-pro;
            font-weight: 400;
            font-size: 1.39em;
            text-transform: uppercase;
            letter-spacing: .13em;
            padding-top: 3.31em;
            margin-top: 0;
        }

        p {
            color: $text-color;
            font-family: $open-sans;
            font-size: .9em;
            line-height: 1.79;
            letter-spacing: .035em;
            margin: 2.05em 32% 3.95em 31.5%;
        }

        .featured-projects__gallery {
            display: flex;
            flex-wrap: wrap;
            transition: 1s;

            img {
                transition: .5s;
            }

            img:nth-of-type(1) {
                width: 333px;

                flex: 1;

                &:hover {
                    flex: 1.3;
                    // width: 333px*2;
                }
            }

            img:nth-of-type(2) {
                flex: 1;

                &:hover {
                    flex: 1.3;
                }
            }

            img:nth-of-type(3) {
                flex: 1;
                margin-left: -6px;

                &:hover {
                    flex: 1.3;
                }
            }
        }

        .row-4__footer {
            display: flex;
            width: 100%;
            height: 113px;
            background-image: url("../images/row-4_footer.jpg");
            align-items: center;
            padding: 0 170px 0 164px;

            span {
                font-family: $open-sans;
                font-size: 20px;
                letter-spacing: 0.8px;
                color: $alternative-font-color;
                margin-right: 7.5em;
            }
        }
    }
}