$second-background-color: #f3f3f3;

$main-style-color: #19bd9a;
$second-style-color: #81868e;

$alternative-font-color: #ffffff;
$caption-color: #333b46;
$subcaption-color: #464646;
$text-color: #81868e;

$source-sans-pro: 'Source Sans Pro',
sans-serif;
$open-sans: 'Open Sans',
'Helvetica Neue',
sans-serif;
$big-johns: 'Big John',
sans-serif;