$mainBackgroundColor: #19bd9a;
$a: #81868e;
$secondBackgroundColor: #f3f3f3;

$mainFontColor: #fff;
$secondFontColor: #333b46;
$accentFontColor: #19bd9a;

$sourceSansPro: "Source Sans Pro",
sans-serif;
$openSans: 'Open Sans',
'Helvetica Neue',
sans-serif;
$bigJohns: 'Big John',
sans-serif;